name: Build release

on:
  push:
    branches:
      - main

jobs:
  build-android:
    name: Build Appbundle
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Fetch material_plus dependency
        run: git clone --depth=1 https://github.com/bemain/material_plus.git ../material_plus
      
      - name: Write secret to file
        run: |
          cat << EOF > ./lib/keys.dart
          ${{ secrets.KEYS_FILE }}
          EOF

      - uses: cedvdb/action-flutter-build-android@v1
        with:
          keystore-base64: ${{ secrets.ANDROID_UPLOAD_KEYSTORE_BASE64 }}
          keystore-password: "${{ secrets.ANDROID_UPLOAD_KEYSTORE_PASSWORD }}"
          build-cmd: flutter build appbundle --release
          working-directory: ./
          
      - name: Upload Appbundle
        uses: actions/upload-artifact@v2
        with:
          name: release-appbundle
          # Try running the build locally with the build command to be sure of this path
          path: build/app/outputs/bundle/release/app-release.aab

  build-ios:
    name: Build IPA
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Fetch material_plus dependency
        run: git clone --depth=1 https://github.com/bemain/material_plus.git ../material_plus
      
      - name: Write secret to file
        run: |
          cat << EOF > ./lib/keys.dart
          ${{ secrets.KEYS_FILE }}
          EOF

      - name: Run flutter build
        uses: cedvdb/action-flutter-build-ios@v1
        with:
          # always use --export-options-plist=ios/GithubActionsExportOptions.plist
          build-cmd: flutter build ipa --release --export-options-plist=ios/GithubActionsExportOptions.plist
          certificate-base64: ${{ secrets.IOS_SIGNING_CERTIFICATE_BASE64 }}
          certificate-password: ${{ secrets.IOS_SIGNING_CERTIFICATE_PASSWORD }}
          provisioning-profile-base64: ${{ secrets.IOS_DISTRIBUTION_PROVISIONING_PROFILE_BASE64 }}
          keychain-password: ${{ secrets.IOS_GITHUB_KEYCHAIN_PASSWORD }}

      - name: Upload IPA
        uses: actions/upload-artifact@v2
        with:
          name: release-ipa
          # Try running the build locally with the build command to be sure of this path
          path: build/ios/ipa/App.ipa